useDynLib(TEMULATOR, .registration=TRUE)
export("simulateTumour")
export("TEMULATOR_object")
export("validate_temulator_result_object")
S3method(print, temulator_result_object)
S3method(plot, temulator_result_object)
S3method(get_clone_frequency, temulator_result_object)
S3method(get_sequencing_data, temulator_result_object)
import(Rcpp)
import(tibble)
import(methods)
import(dplyr)
